.bg-blue {
  background-color: #20a0ff;
}
.bg-orange {
  background-color: #F7BA2B;
}
.bg-green {
  background-color: #12CB65;
}
.bg-white {
  background-color: #fff;
}
.bg-gray {
  background-color: #f7f8f9;
}

.text-blue {
  color: #20a0ff;
}
.text-orange {
  color: #F7BA2B;
}
.text-green {
  color: #12CB65;
}
.text-white {
  color: #fff;
}
.text-red {
  color: red;
}
.text-gray {
  color: #666666;
}
.text-muted {
  color: #999999;
}

/* UI component libraries related - e.g. ElementUI */
.el-table thead {
  color: #444;
}
.el-table td,
.el-table th {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.el-table .el-table__empty-block {
  height: auto;
}
.el-table__footer .cell {
  font-style: italic;
}
.el-dialog {
  border-radius: 6px;
}
.el-range-editor--small .el-range-separator {
  padding: 0 2px;
}
